/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    background-color: rgb(255, 234, 249);
}

a {
    color: #00B7FF;
}

div {
}

.row {
    margin: 20px;
}

/*
 * ボタンの共通設定
 */
.common-button {
    border-radius: 5px;
}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {

}

.index-enter_button {

}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {

 }

.room-message {

}

.room-message_textarea {
    width: 500px;
}

.room-submit {
}

.room-publish_button {
    height: 30px;
    border: 2px solid rgb(255, 15, 135);
    vertical-align:bottom;

}

.room-memo_button {
    height: 30px;
    border: 2px solid rgb(255, 15, 135);
    vertical-align:bottom;
}

.room-thread {

}

.room-exit {

}

.room-exit_button {

}
.message_inline{
    display: inline-block;
    vertical-align:bottom;
}

/*メッセージを書く欄に関する*/
#input_plural-message input.form-control {
    width: 450px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

/*メモ(下書き)に関する*/
#input_plural input.form-control {
    display: inline-block;
    width: 400px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

.mycomment{
    background-color: cornflowerblue;
    text-align: right;
}
.yourcomment{
    background-color: lightcyan;
    text-align: left;
}

.padding{
    margin: 20px;
}

.padding-b-and-t{
    margin: 20px 0px;
}

/*
scroll-1,2 はそれぞれメッセージ表示画面，下書き画面のスクロールに関する処理
参考サイト：https://techacademy.jp/magazine/30983
*/
.scroll-1 {
    width: 600px;
    height: 40vh;
    overflow: scroll;
    border: rgb(255, 167, 201) 5px solid;
    overflow-x: hidden;

  }


.scroll-2 {
    width: 600px;
    height: 20vh;
    overflow: scroll;
    border: rgb(255, 167, 201) 5px solid;
    overflow-x: hidden;
  }

  .title{
      height: 10vh;
  }