/*
 * 画面全体に関する設定
 */
body {
    font: "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    color: #575757;
    line-height: 1.7;
    background-color: rgb(255, 234, 249);
    /*background-color: rgb(78, 78, 78);*/
}

a {
    color: #00B7FF;
}

div {
}

.container{
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin: 20px;
}

/*
 * ボタンの共通設定
 */
.common-button {
    border-radius: 5px;
    color:  rgb(255, 255, 255);
    background-color:  rgb(255, 15, 135);
    border: none;
    outline:0;
}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {

}

.index-enter_button {

}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {

 }

.room-message {

}

.room-message_textarea {
    width: 500px;
}

.room-submit {
}

.room-publish_button {
    height: 30px;
    border: 2px solid rgb(255, 15, 135);
    vertical-align:bottom;

}

.room-memo_button {
    height: 30px;
    border: 2px solid rgb(255, 15, 135);
    vertical-align:bottom;
}

.room-thread {

}

.room-exit {

}

.room-exit_button {
    color:  rgb(255, 15, 135);
    background-color:  rgb(255, 255, 255);
}
.message_inline{
    display: inline-block;
    vertical-align:bottom;
}

/*メッセージを書く欄に関する*/
#input_plural-message input.form-control {
    width: 450px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

/*メモ(下書き)に関する*/
#input_plural input.form-control {
    display: inline-block;
    width: 400px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

.mycomment{
    background-color: cornflowerblue;
    text-align: right;
}
.yourcomment{
    background-color: lightcyan;
    text-align: left;
}


.padding{
    margin: 20px;
}

.padding-b-and-t{
    margin: 20px 0px;
}
.padding-r-and-l{
    margin: 0px 20px;
}

/*
scroll-1,2 はそれぞれメッセージ表示画面，下書き画面のスクロールに関する処理
参考サイト：https://techacademy.jp/magazine/30983
https://blog.8bit.co.jp/?p=16446
*/

.scrollArea{
    width: auto;
    overflow: auto; /*scroll;*/
    border: rgb(255, 167, 201) 4px solid;
    overflow-x: hidden;
    /*border-radius: 10px;*/
}

.scroll-1 {
    height: 50vh;
  }

.scroll-2 {
    height: 15vh;
  }

/*スクロールバーの横幅指定*/
.scrollArea.deco::-webkit-scrollbar {
    width: 15px;
}
/*スクロールバーの背景色・角丸指定*/
.scrollArea.deco::-webkit-scrollbar-track {
  border-radius: 10px;
	background: #f2f2f2;
}
/*スクロールバーの色・角丸指定*/
.scrollArea.deco::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background:#9b9b9b;
}
/*タイトル画像設定*/
.title{
    height: 10vh;
}

.menu-bar{
    background-color:  rgb(255, 50, 101);/*bg-danger */
}

/* 吹き出し本体 */
.balloon{
  position: relative;
  width: 80px;
  padding: 20px;
}

/* beforeで三角を表現 */
.balloon::before{
  content: '';
  position: absolute;
  left: 20px;
  top: -15px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff3ad;
  border-left: 15px solid transparent;
}