/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div {
    margin: 20px;
}

.row {
    margin: 20px;
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {

}

.index-enter_button {

}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {

 }

.room-message {

}

.room-message_textarea {
    width: 500px;
}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-thread {

}

.room-exit {

}

.room-exit_button {

}

/*メモ(下書き)に関する*/
#input_plural input.form-control {
    display: inline-block;
    width: 75%;
    height: 34px;
    padding: 6px 12px;*/
    font-size: 14px;
    color: #555;
}

.mycomment{
    background-color: cornflowerblue;
    text-align: right;
}
.yourcomment{
    background-color: darkkhaki;
    text-align: left;
}