<div class="container">
    <div class="row">
        <img src="../img/chatLogo.png" class="title">
    </div>

    <canvas id="canvas"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/qrcode@latest/build/qrcode.min.js"></script>
    <script>
    QRCode.toCanvas(document.getElementById('canvas'), 'http://3.114.101.35:10069/guest', function (error) {
        if (error) console.error(error)
        console.log('success!');
    })
    </script>
    <div class="row">
        <form method="post"
            action="/room">
            <div class="index-user_name">
                ユーザ名
                <input type="text form-control"
                    id="userName"
                    name="userName"
                    class="index-user_name_text">
            </div>
            <div class="index-enter">
                <input type="button"
                    value="入室する"
                    class="btn btn-primary common-button index-enter_button padding-b-and-t"
                    onclick="enter();">
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/index.js"></script>