<div class="container">
    <div class="row">
        <img src="../img/chatLogo.png" class="title">
    </div>
    <div class="row">


        <!-- 4列をサイドメニューに割り当て -->
        <ul class="nav flex-column menu-bar">
        <form class="form-inline padding">
            <div class="form-group">
                <label class="roomLabel" for="rooms">部屋：</label>
                <select class="form-control" id="rooms">
                    <option value="room01">部屋01</option>
                    <option value="room02">部屋02</option>
                </select>
                <input type="hidden" class="form-control" id="msgForm" value="{{userName}}">
            </div>
            <input type="button" class="btn btn-primary" id="sendButton" value="変更">
        </form><br>
            <div id="roomstat" class="padding">現在は入室していません</div>
            <div class="room-exit padding">
                <input type="button"
                    value="退室する"
                    class="btn btn-info"
                    onclick="exit();">
            </div>
        </ul>

        <!-- 残り8列はコンテンツ表示部分として使う -->
        <div class="col-xs-8 padding-r-and-l">
            <form method="post"
                action="/"
                onsubmit="return false;">

                <div class="room-thread scrollArea scroll-1">
                    <div id="thread"><p class="defo">チャットを表示します</p></div>
                </div>
                <p></p>
                <div id="input_pluralBox" class="scrollArea scroll-2 padding-b-and-t">
                    <div id="memo-thread"><p>メモを表示します<p></p></div>
                </div>


                <div class="room-login_user">
                    ログインユーザ：<span id="currentName">{{userName}}</span>さん
                    <input id="userName"
                        {{!-- type="hidden" --}}
                        value="{{userName}}">
                    <input type="button"
                        value="名前変更"
                        class="common-button room-exit_button"
                        onclick="rename();"
                        id="renameSubmit">
                </div>


                <div id="input_plural-message" class="message_inline padding">
                    <div class="room-message message_inline">
                        <input id="message"
                            type="text"
                            class="form-control"
                            placeholder="投稿文を入力してください">
                    </div>

                    <div class="room-submit message_inline">
                        <input type="image"
                            src="../img/send.jpg"
                            class="common-button room-publish_button"
                            onclick="publish();">
                        <input type="image"
                            src="../img/memo.jpg"
                            class="common-button room-memo_button"
                            onclick="memo();">
                        <select id="sort-select">
                            <option value="down">降順</option>
                            <option value="up">昇順</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>