<div class="container">
    <div class="row">
        <h1>Node Chat チャットルーム</h1>
    </div>
    <div class="row">


        <!-- 4列をサイドメニューに割り当て -->
        <ul class="nav flex-column bg-danger">
        <form class="form-inline">
            <div class="form-group">
                <label class="roomLabel" for="rooms">部屋：</label>
                <select class="form-control" id="rooms">
                    <option value="room01">部屋01</option>
                    <option value="room02">部屋02</option>
                </select>
                <input type="hidden" class="form-control" id="msgForm" value="{{userName}}">
            </div>
            <input type="button" class="btn btn-primary" id="sendButton" value="変更">
        </form><br>
            <div id="roomstat">現在は入室していません</div>
            <div class="room-exit">
                <input type="button"
                    value="退室する"
                    class="common-button room-exit_button"
                    onclick="exit();">
            </div>
        </ul>

        <!-- 残り8列はコンテンツ表示部分として使う -->
        <div class="col-xs-8 padding">
            <form method="post"
                action="/"
                onsubmit="return false;">

                <div class="room-thread scroll-1">
                    <div id="thread"></div>
                </div>

                <div id="input_pluralBox" class="scroll-2 padding-b-and-t">
                    <p>memo</p>
                    <div id="memo-thread"></div>
                </div>


                <div class="room-login_user">
                    ログインユーザ：<span id="currentName">{{userName}}</span>さん
                    <input id="userName"
                        {{!-- type="hidden" --}}
                        value="{{userName}}">
                    <input type="button"
                        value="名前変更"
                        class="common-button room-exit_button"
                        onclick="rename();"
                        id="renameSubmit">
                </div>


                <div id="input_plural-message">
                    <div class="room-message">
                        <input id="message"
                            type="text"
                            class="form-control"
                            placeholder="投稿文を入力してください">
                    </div>

                    <div class="room-submit padding-b-and-t">
                        <input type="button"
                            value="投稿"
                            class="common-button room-publish_button"
                            onclick="publish();">
                        <input type="button"
                            value="メモ"
                            class="common-button room-memo_button"
                            onclick="memo();">
                        <select id="sort-select">
                            <option value="down">降順</option>
                            <option value="up">昇順</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>